<!DOCTYPE html>
<html>
<head>
      <title>About</title>
	
    <link rel="icon" href="/weather.png">
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="restpart">
    {{>header}}
<img src="/CYMERA_20150326_215525.jpg">
</div>
{{>footer}}
</body>
</html>