<!DOCTYPE html>
<html>
<head>
      <title>Error!</title>
	
    <link rel="icon" href="/weather.png">
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="restpart">
    {{>header}}
{{errorMessage}}
</div>
{{>footer}}
</body>
</html>