<!DOCTYPE html>
<html>
<head>
	  <title>Help</title>
	
    <link rel="icon" href="/weather.png">
</head>
<body>
    <div class="restpart">
    {{>header}}
<p>{{helptext}}</p>

</div>
{{>footer}}
</body>
</html>